@charset "utf-8";
.match-head {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
}
.match-wrap {
  width: 100%;
  height: 2rem;
  max-width: 7.5rem;
  margin: 0 auto;
  padding: 0 .35rem;
  background-image: -moz-linear-gradient(180deg, #ff6c11 0%, #f19741 100%);
  background-image: -webkit-linear-gradient(180deg, #ff6c11 0%, #f19741 100%);
  background-image: -ms-linear-gradient(180deg, #ff6c11 0%, #f19741 100%);
  font-size: .22rem;
  color: #fff;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.match-main {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.head-item {
  text-align: center;
}
.head-item p:first-child {
  width: 1rem;
  height: 1rem;
  margin-bottom: .15rem;
  border: .06rem solid #EBEBEA;
  border-radius: 50%;
  font-size: .68rem;
  text-align: center;
}
.head-item:first-child p:first-child {
  border-color: #fff;
  background: #fff;
  color: #F19741;
}
.head-line {
  display: block;
  width: .66rem;
  height: .04rem;
  background: #fff;
  margin-top: -0.4rem;
}
.next-box {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1rem;
  line-height: 1rem;
}
.next-box .btn-next {
  display: block;
  width: 100%;
  max-width: 7.5rem;
  margin: 0 auto;
  background-image: -moz-linear-gradient(180deg, #ff6c11 0%, #f19741 100%);
  background-image: -webkit-linear-gradient(180deg, #ff6c11 0%, #f19741 100%);
  background-image: -ms-linear-gradient(180deg, #ff6c11 0%, #f19741 100%);
  text-align: center;
  font-size: .32rem;
  color: #fff;
}
.sel-ctn {
  width: 6.8rem;
  margin: 0 auto;
  position: relative;
  font-size: .32rem;
}
.sel-ctn:before {
  content: '';
  display: block;
  width: 1px;
  height: calc(100% - 1rem);
  background: #F18C33;
  position: absolute;
  left: .2rem;
  top: .5rem;
  z-index: -1;
}
.level-1 {
  height: 1rem;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.opt-num {
  display: inline-block;
  width: .4rem;
  height: .4rem;
  margin-right: .2rem;
  background: #F19741;
  border-radius: 50%;
  color: #fff;
  font-size: .28rem;
  text-align: center;
}
.sel-box {
  flex: 1;
  width: 6rem;
  height: 1rem;
  -webkit-align-items: center;
  align-items: center;
}
.sel-item {
  width: 100%;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.sel-ipt-box {
  color: #f19741;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
  flex: 1;
}
.sel-ipt-box .icon-arrow {
  display: inline-block;
  margin-left: .15rem;
  width: .44rem;
  height: .44rem;
  background: url(../img/icon-arrow.png) no-repeat;
  background-size: 100% 100%;
}
.sel-ipt-box input {
  border: none;
  outline: none;
  max-width: 1.8rem;
  text-align: right;
  font-size: inherit;
  padding: 0 .2rem;
}
.opt-point {
  width: .4rem;
  height: .4rem;
  margin-right: .5rem;
  border-radius: 50%;
  text-align: center;
}
.opt-point:after {
  content: '';
  display: inline-block;
  width: .16rem;
  height: .16rem;
  background: #F19741;
  border-radius: 50%;
}
.level-2 {
  height: 1rem;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  font-size: .28rem;
}
.level-2 .sel-box {
  width: 5.6rem;
}
.agree-rules {
  font-size: .24rem;
  line-height: .88rem;
  padding-left: .6rem;
  color: #ACACAC;
}
.agree-rules a {
  color: #F19741;
}
.agree-rules input[type="radio"] + span::before {
  content: "\a0";
  /*不换行空格*/
  display: inline-block;
  vertical-align: middle;
  width: .2rem;
  height: .2rem;
  margin-right: .1rem;
  border-radius: 50%;
  border: 2px solid #F19741;
  text-indent: .15em;
  line-height: 1;
}
.agree-rules input[type="radio"]:checked + span::before {
  border-color: transparent;
  background-color: #F19741;
  background-clip: content-box;
}
.agree-rules input[type="radio"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.sel-opt-box {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  font-size: .28rem;
  color: #202224;
  max-height: 5rem;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 100;
  display: none;
}
.sel-opt-box .sel-wrap {
  width: 100%;
  max-width: 7.5rem;
  margin: 0 auto;
}
.sel-opt-box .opts {
  background: #fff;
  padding-bottom: 1rem;
}
.sel-opt-box .sel-option {
  width: 100%;
  height: .8rem;
  line-height: .8rem;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.sel-opt-box .sel-option:last-child {
  border-bottom: none;
}
.sel-opt-box .sel-option.active,
.sel-opt-box .sel-option:hover {
  color: #ED6C00;
}
.sel-opt-box .sel-cancel {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 1rem;
  line-height: .8rem;
  background: #fff;
  text-align: center;
}
.sel-opt-box .sel-cancel > * {
  background: #fff;
  border-top: .2rem solid #EAEAEA;
}
